
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-img {
  min-width: 50px;
  min-height: 50px;
  margin-right: 10px;
  background: #DDD no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: #579FFB;
}

.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
}

.msg-info-time {
  margin-left: 10px;
  font-size: 14px;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
  color: #FFF;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: #32CD32FF;
  color: #FFF;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}
